<ion-app>
  <div class="flex flex-col w-full h-screen overflow-hidden">
    <!-- Header -->
    <app-headers></app-headers>

    <div class="flex flex-row flex-grow">
      <!-- Sidebar -->
      <app-sidebar>
        
      </app-sidebar>
      

      <!-- Contenido principal -->
      <div class="flex flex-col flex-grow overflow-auto z-10">
        <ion-content class="flex-1 overflow-auto">
          <ion-router-outlet></ion-router-outlet>
        </ion-content>
      </div>
    </div>
  </div>
</ion-app>
